.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  &.highlighted {
    border: 1px solid #835afd;
    background: #f2effa;
  }

  & + .question {
    margin-top: 8px;
  }

  p {
    font-size: 16px;
    color: #29292e;
  }

  footer {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-info {
      display: flex;
      align-items: center;
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    .button-group {
      display: flex;
      gap: 16px;
    }

    .highlight-button {
      color: #737380;
      gap: 8px;

      &.highlighted {
        color: #835afd;

        svg path {
          stroke: #835afd;
        }
      }

      &:hover {
        filter: brightness(0.8)
      }
    }

    button {
      cursor: pointer;
      border: 0;
      background: transparent;
      transition: filter 0.2;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #835afd;

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.8)
        }
      }
    }
  }
}